/* Estilos para el fondo */
body {
    background: linear-gradient(to bottom, #091e42 0%, #75b87a 100%);
  }
  .neon {
    color: #fff; /* Color del texto */
    font-size: 72px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1100ff, 0 0 70px #0077ff, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de; /* Propiedad text-shadow para crear el borde neon */
}
  

/* Estilos para las tarjetas de las rutas turísticas */
.card {
    background-color: #53b360d0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color: #caafaf;
    padding: 10px;
}

/* Estilos para los botones de las tarjetas */
.btn-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #fff;
}

.btn-success:hover {
    background-color: #3e8e41;
    border-color: #3e8e41;
    color: #fff;
}

/* Estilos para la sección de Lugares */
.bg-light {
    background-color: #d5d2ee !important;;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.bg-light:hover {
    transform: translateY(-5px);
}

/* Estilos para las imágenes de los lugares y empresas */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Estilos para los botones de las secciones de Lugares y Empresas */
.btn-block {
    width: 100%;
    margin-top: 10px;
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #fff;
    transition: all 0.3s ease;
}

.btn-block:hover {
    background-color: #3e8e41;
    border-color: #3e8e41;
    color: #fff;
}
