/* estilos para el fondo*/
body {
    background-color: #000;
    background-image: radial-gradient(circle, rgb(29, 94, 235), rgb(228, 239, 245));
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
/* Estilos para la tabla */
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: rgb(222, 238, 215);
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th {
    text-align: center;
    font-weight: bold;
    border: 1px solid #94c9fc;
    padding: .75rem;
    vertical-align: middle;
  }
  
  td {
    border: 1px solid #246eb8;
    padding: .75rem;
    vertical-align: middle;
  }
  
  /* Estilos para los botones */
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    text-decoration: none;
  }
  
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  /* Estilos para la fila seleccionada */
  .selected {
    background-color: #fafaf8;
  }
  
  /* Estilos para el botón "Nueva Ruta" */
  .btn-new-route {
    margin-bottom: 20px;
  }
  
  /* Estilos para la tabla en pantallas pequeñas */
  @media (max-width: 767px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr {
      border: 1px solid #ccc;
    }
    
    td {
      border: none;
      position: relative;
      padding-left: 50%;
    }
    
    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }
    
    td:nth-of-type(1):before {
      content: "Orden";
    }
    
    td:nth-of-type(2):before {
      content: "Nombre";
    }
    
    td:nth-of-type(3):before {
      content: "Empresas";
    }
    
    td:nth-of-type(4):before {
      content: "Lugares";
    }
    
    td:nth-of-type(5):before {
      content: "Acción";
    }
  }
  thead {
    background-color: #dba1a1;
  }