.menu-container {
    background-color: #f5e4be;
    border-radius: 10px;
    padding: 20px;
  }
  
  .menu-item {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .menu-item a {
    color: rgb(17, 200, 233);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .menu-item a:hover {
    background-color: #fff;
    color: #f5e4be;
  }
  
  .menu-item.active a {
    background-color: #fff;
    color: #f5e4be;
  }
  