/* Estilos para el fondo */
body {
    background: linear-gradient(to bottom, #091e42 0%, #82dda0 100%);
  }
  
  /* Estilos generales */
  .ruta-info {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-align: center;
  }
  
  /* Estilos de la imagen */
  .ruta-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos de los títulos */
  h1 {
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(112, 245, 24, 0.055);
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  /* Estilos de las listas de lugares y empresas */
  .ruta-lugares,
  .ruta-empresas {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .ruta-lugares li,
  .ruta-empresas li {
    margin-right: 2rem;
    margin-bottom: 1rem;
    list-style: none;
    text-align: center;
  }
  
  .ruta-lugares a,
  .ruta-empresas a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 1.2rem;
    display: block;
  }
  
  .ruta-lugares a:hover,
  .ruta-empresas a:hover {
    color: #ffd200;
  }
  
  /* Estilos de las visitas */
  .ruta-visitas {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffd200;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  }
  