
/* Estilos para la barra de navegación */
/* Estilos para la barra de navegación */

.navbar {
    position: fixed; /* Mantener la barra fija */
    top: 0; /* Posicionar en la parte superior de la ventana */
    width: 100%; /* Ancho completo */
    background-color: #f8f9fa; /* Color de fondo */
    padding: 10px 0; /* Espaciado interno */
    z-index: 100; /* Asegurar que la barra esté en la capa superior */
}

/* Estilos adicionales para el contenido principal */
main {
    margin-top: 70px; /* Dejar espacio para la barra fija */
}
.navbar-brand img {
    width: 200px;
    height: auto;
}

.nav-link {
    color: #000; /* Color de texto */
    font-size: 18px;
    font-weight: bold; /* Negrita */
    margin-right: 15px; /* Espaciado entre elementos */
    text-decoration: none;
    transition: color 0.3s; /* Transición de color al pasar el mouse */
}

.nav-link:hover {
    color: #007bff; /* Color de texto al pasar el mouse */
}

/* Estilos para el botón del menú desplegable */
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="%23007bff" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3E%3C/svg%3E');
    width: 30px;
    height: 30px;
}

/* Estilos para el menú desplegable */
.collapse.navbar-collapse {
    justify-content: flex-end; /* Alinear elementos a la derecha */
}

/* Ajustar logo en la barra de navegación */
.navbar-brand {
    margin-right: auto;
}

/* Espaciado de elementos en el menú desplegable */
.navbar-nav {
    margin-left: auto;
}

/* Ajustar el ancho del contenedor */
.container-fluid {
    max-width: 1200px;
}

.dropdown-menu {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.dropdown-item:hover {
    color: #007bff;
    background-color: #f5f5f5;
}

body {
    height: 100%;
    font-size: 14px;
    background: url('/img/fondo/turismo1.png') no-repeat center center fixed;
    background-size: cover;
    }
